/* spacing */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(10, 10, 10);
    margin:auto;
    text-align: center;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

td,.show, .hide {
    letter-spacing: 1px;
    padding: 20px;
}

#overlay {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: none;
  }
#overlay_content{
    width: 100%;
    text-align: center;
}


.styled-table {
    display: table;
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    table-layout: auto;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.btn-add{
    color: #fff;
    background-color: rgba(255,255,255,0.05);
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.btn-add:before,
.btn-add:after,
.btn-add span:before,
.btn-add span:after{
    content: '';
    background: linear-gradient(to bottom,#FF416C,#FF4B2B);
    width: 25%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}
.btn-add:before{
    transform: scaleY(0.2);
    transition-delay: 0.3s;
}
.btn-add:after{
    transform: scaleY(0.45);
    left: 25%;
    transition-delay: 0.2s;
}
.btn-add span:before{
    transform: scaleY(0.65);
    left: 50%;
    z-index: -1;
    transition-delay: 0.1s;
}
.btn-add span:after{
    transform: scaleY(0.8);
    left: 75%;
    z-index: -1;
}
.btn-add span{
    padding: 10px 20px;
    display: block;
    position: relative;
    z-index: 1;
}
.btn-add:hover:before,
.btn-add:hover:after,
.btn-add:hover span:before,
.btn-add:hover span:after{
    opacity: 1;
    transform: scaleY(1);
}
.btn-add.orange:before,
.btn-add.orange:after,
.btn-add.orange span:before,
.btn-add.orange span:after{
    background: linear-gradient(to bottom, #f7b42c, #fc575e);
}
.btn-add.blue:before,
.btn-add.blue:after,
.btn-add.blue span:before,
.btn-add.blue span:after{
    background: linear-gradient(to bottom, #7f53ac, #647dee);
}
.btn-add.green:before,
.btn-add.green:after,
.btn-add.green span:before,
.btn-add.green span:after{
    background: linear-gradient(to bottom, #3bb78f, #0bab64);
}
.btn-add:hover{ color: #fff; }
@media only screen and (max-width: 767px){
    .btn-add{ margin-bottom: 20px; }
}

.toast {
    background-color: #111010; /* Change to your desired color */
    color: #721c24; /* Change text color if needed */
}

.toast.show {
    background-color: #4d4a4a !important; /* Change to your desired color */
    color: #eee6e7 !important; /* Change text color if needed */
}